In [3]:
import pandas as pd
import numpy as np

# Colley's Rankings

In [8]:
data = {'Duke':['-','52-7','24-21','38-7','45-0'],
       'Miami':['7-52','-','16-34','17-25','7-27'],
       'UNC':['21-24','34-16','-','5-7','30-3'],
       'UVA':['7-38','25-17','7-5','-','52-14'],
       'VT':['0-45','27-7','3-30','14-52','-'],
       'Win/Loss':['0-4','4-0','2-2','1-3','3-1'],
       'Differentials':[-124,91,-40,-17,90]}
df = pd.DataFrame(data)
df.index = df.columns.values[:-2]
df

        Duke  Miami    UNC    UVA     VT Win/Loss  Differentials
Duke       -   7-52  21-24   7-38   0-45      0-4           -124
Miami   52-7      -  34-16  25-17   27-7      4-0             91
UNC    24-21  16-34      -    7-5   3-30      2-2            -40
UVA     38-7  17-25    5-7      -  14-52      1-3            -17
VT      45-0   7-27   30-3  52-14      -      3-1             90

## Building Colley's coefficient table
Cr = b (Colley's linear system)

Cij = 2+ti for i = j, and -nij for i != j

t = total number of games played by team

n = total number of times teams i and j played against each other

bi = 1 + 1/2 (wi âˆ’ li)

In [15]:
C = np.zeros(shape=(len(df.index),len(df.index)))
for i,row in enumerate(C):
    for j,col in enumerate(row):
        if i == j:
            C[i,j] = 2 + len(C[:,j])-1
        else:
            C[i,j] = -1
C

array([[ 6., -1., -1., -1., -1.],
       [-1.,  6., -1., -1., -1.],
       [-1., -1.,  6., -1., -1.],
       [-1., -1., -1.,  6., -1.],
       [-1., -1., -1., -1.,  6.]])

In [16]:
r = ['r1','r2','r3','r4','r5']
r

['r1', 'r2', 'r3', 'r4', 'r5']

In [18]:
b = [1+0.5*(int(x.split('-')[0])-int(x.split('-')[1]))for x in df['Win/Loss'].values]
b

[-1.0, 3.0, 1.0, 0.0, 2.0]

## Solving r

In [19]:
r = np.linalg.solve(C,b)
r

array([0.21428571, 0.78571429, 0.5       , 0.35714286, 0.64285714])

## Putting it together

In [21]:
df['Ratings'] = r
df

        Duke  Miami    UNC    UVA     VT Win/Loss  Differentials   Ratings
Duke       -   7-52  21-24   7-38   0-45      0-4           -124  0.214286
Miami   52-7      -  34-16  25-17   27-7      4-0             91  0.785714
UNC    24-21  16-34      -    7-5   3-30      2-2            -40  0.500000
UVA     38-7  17-25    5-7      -  14-52      1-3            -17  0.357143
VT      45-0   7-27   30-3  52-14      -      3-1             90  0.642857